@mixin reset-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

@mixin panel {
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.135216);
  border-radius: 8px;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  //grid-template-columns: 15% 1fr;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2c2c2c;
  background: #f9f9f9;
}

.products-table {
  border-collapse: collapse;
  width: 100%;
  td,
  th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
    &:hover {
      background-color: #ddd;
    }
  }
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #6f64f8;
    color: white;
  }
}

.notifications {
  position: relative;
  cursor: pointer;
}
