@media (min-width: $desktop) {
  .wrapper__header {
    &__navbar {
      @include panel;
      display: flex;
      justify-content: space-between;
      padding: 20px;

      .list-icons {
        @include reset-ul;
        display: flex;
        align-items: center;

        &__item {
          margin-right: 22px;
        }
      }

      .list-settings {
        @include reset-ul;
        display: flex;
        align-items: center;

        &__item {
          margin-right: 22px;
          display: flex;
          align-items: center;
          font-weight: 700;
        }

        .item-user {
          margin: 0;

          &__info {
            display: flex;
            flex-direction: column;
            margin-right: 10px;

            .user-name {
              font-size: 14px;
            }

            .user-status {
              font-size: 11px;
              font-weight: 300;
            }
          }
        }

        &__go-search {
          background: none;
          padding: 0;
          border: none;
          margin-left: 22px;
        }
      }
    }
    &__actions {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 25px;
      .breadcrumbs {
        display: flex;
        align-items: center;
        .title {
          font-size: 24px;
          line-height: 29px;
        }
        &__list {
          @include reset-ul;
          display: flex;
          align-items: center;
          &__item {
            margin-right: 25px;
            position: relative;
            &:not(:last-child):after {
              content: '>>';
              position: absolute;
              right: -20px;
            }
          }
          &:before {
            content: '|';
            font-size: 24px;
          }
        }
      }
      .go-setup {
        background: #7e72f2;
        border: none;
        border-radius: 25px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        * {
          pointer-events: none;
        }
      }
    }
  }
}
