@media (min-width: $desktop) {
  .side-nav {
    @include panel;
  }
  @import "components/product-component";
  .wrapper {
    padding: 30px 36px 34px;
    .products-and-filters {
      display: grid;
      grid-template-columns: 20% 1fr;
      gap: 20px;
      margin-top: 26px;
      .page-settings {
        grid-column: 1/-1;
        grid-template-columns: 20% 1fr;
        display: grid;
        gap: 20px;
        align-items: center;
      }
      .filters {
        @include panel;
        display: flex;
        flex-direction: column;
        padding: 0 24px;
        font-size: 16px;
        section {
          .title {
            font-weight: 600;
          }
          font-weight: 300;
          padding-bottom: 30px;
          border-bottom: 1px solid #ccc;
          .form-group {
            margin-bottom: 15px;
            display: flex;
            .result {
              flex-grow: 1;
              text-align: right;
            }
          }
        }
        .multirange {
          display: flex;
          flex-direction: column;
          input[type='radio'] {
            margin-right: 5px;
          }
        }
      }
      .products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 30px;
        align-items: start;
        /** products in list format **/
        &.wide {
          grid-template-columns: 1fr;
          .product {
            display: grid;
            grid-template-columns: auto 1fr;
            padding: 45px 22px;
            gap: 15px;
            &__info {
              position: relative;
              .title {
                order: 1;
              }
              .description {
                order: 2;
              }
              .price-info {
                justify-content: start;
                order: 3;
                margin-top: 15px;
                button:first-child {
                  margin-right: 23px;
                }
              }
              .controls {
                grid-column: 2/-1;
                align-items: center;
                margin: 0;
                order: 4;
                position: absolute;
                bottom: 0;
                right: 0;
                .like,
                .add {
                  width: auto;
                  padding: 13px 0;
                  text-transform: uppercase;
                  border: none;
                  font-weight: bold;
                  cursor: pointer;
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
        &__setting {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .right-group {
            display: flex;
          }
          button {
            @include panel;
            padding: 12px;
            border: none;
            display: flex;
            align-items: center;
            cursor: pointer;
            &:not(:last-child) {
              margin-right: 13px;
            }
            * {
              pointer-events: none;
            }
          }
        }
        &__search-box {
          @include panel;
          grid-column: 1/-1;
          display: flex;
          align-items: stretch;
          input[type='text'] {
            width: 100%;
            border: none;
            border-radius: 8px;
            padding: 18px 30px;
            font-size: 22px;
          }
          .go-search {
            background: none;
            cursor: pointer;
            border: none;
            padding: 0 30px;
            * {
              pointer-events: none;
            }
          }
        }
      }
    }
  }
}
